@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Inter:wght@500;700&family=Macondo&display=swap');

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5ex;
  color: #002928;
  font-family: Inter;
  height: 100%;
  width: 100%;
  background-color: #F7F7F2;
}

#main {
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 550px;
}

ul {
  margin: 0;
  padding: 0;
}

#menu {
  position: sticky;
  float: right;
  width: 20%;
  height: 100%;
}

#menu>label {
  display: block;
  cursor: pointer;
}

li {
  list-style-type: none;
}

#home {
  float: left;
  width: 80%;
}

#home>ul>li {
  display: inline;
  float: left;
  padding-right: 8px;
}
.intro{
  position:absolute;
  height:330px;

}

.hello,
.world {
  color: #01514E;
  font-family: Inter;
  font-size: 130px;
  font-weight: 700;
}

.world {
  position:absolute;
  top:48%;
  text-shadow: 4px -12px 9px rgba(255, 255, 255, 0.20);
  line-height: 0.2;
  left: 6%;
}

.user {
  position:absolute;
  top:70%;
  left:40%;
  display:block;
  line-height: 1;
  color: #01514E;
  font-family: Macondo;
  font-size: 25px;
  font-weight: 400;
}

.folio {
  position:absolute;
  line-height: 1;
  top:78%;
  right:0;
  color: #01514E;
  font-family: Beth Ellen;
  font-size: 35px;
}

.bio {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1;
  float:right;
  font-size: 13px;
  color: #002928;
  font-family: Inter;
  font-weight: 500;
}

.socials {
  position:absolute;
  right:0;
  bottom:0;
  font-size: 20px;
}

.socials>ul>li {
  display: inline;
}

.socials>ul>li>a {
  color: #01514E;
}

a {
  color: #002928;
  text-decoration: none;
}

a:hover {
  color: grey;
}


#projects {
  display: none;
  position: absolute;
  float: left;
  width: 80%;
}

#art,
#dev,
#homebtn,
#projectbtn {
  display: none;
}

.category>label {
  cursor: pointer;
  text-decoration: #ED6A5A wavy underline;
}

label:hover {
  color: grey;
}

.project {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 35px;
}

img {
  width: 100%;
  border-radius: 50px;
  border: 4px solid #01514E;
  margin-bottom: 12px;
}

.title,
.date {
  color: #002928;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.date {
  float: right;
}

.desc {
  display: block;
  padding-top: 10px;
  text-align: justify;
  width: 100%;
  font-size: 16px;
  font-weight: 200;
}

#cursor {
  fill: #ED6A5A;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  left: 20vw;
  top: 20vh;
  pointer-events: none;
  opacity: 0.8;
  z-index: 10000;
}

.anim1 {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 50px;
  position: absolute;
  left: -15%;
  top: -50%;
  transform-origin: center;
  animation: spin 2s linear infinite;
}

.anim1>span {
  margin: -11px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #main {
    width: 100%;
  
  }

  #home {
    position: absolute;
    top:100%;
    width: 100%;
   
  }
  .hello,.world,.user,.folio,.bio,.socials{

    position: absolute;
    left:0;
    width:100%;
    line-height:normal;
    text-align: center;
    text-overflow: ellipsis;
    white-space:nowrap;
    word-wrap: break-word;
  
  }
  .world{
    line-height: 0.2;
  }
  .folio{
    line-height: 1.2;
  }

  .socials{
    bottom:-10%;
  }
 

  #menu {
    width: 100%;
    display: inline;
  }

  #menu>label {
    float: left;
    display: inline;
    padding-right: 8px;
  }

  #projects {
    width: 100%;
    top: 50px;
  }

  .category {
    text-align: center;
  }

  .anim1 {
    left: 80%;
    top: 15%;
  }
}
